@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&display=swap');


@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --font-inter-tight: 'Inter Tight', sans-serif;
    --font-geist-mono: 'Geist Mono', monospace;
  }
  
  body {
    @apply bg-white dark:bg-zinc-900 text-zinc-900 dark:text-zinc-100;
    font-family: var(--font-inter-tight);
  }
  
  code, pre, kbd, samp, tt {
    font-family: var(--font-geist-mono);
  }
}

@layer components {
  .btn-primary {
    @apply px-4 py-2 rounded-lg bg-zinc-900 dark:bg-zinc-100 text-white dark:text-zinc-900 hover:bg-zinc-800 dark:hover:bg-zinc-200 transition-colors;
  }
  
  .btn-secondary {
    @apply px-4 py-2 rounded-lg border border-zinc-200 dark:border-zinc-700 hover:bg-zinc-100 dark:hover:bg-zinc-800 transition-colors;
  }
}